.nav {
        padding: 10px;
        margin: 0 10px 0 10px;
        background-color: rgb(0, 0, 0);
        border-radius: 0 5px 5px;
    li {
        display: inline-block;
        list-style-type: none;
        margin-right: 100px;
        a {
            text-decoration: none;
            position: relative;
            color: #e4e4e4;
            &:hover {
                color: #e4e4e4;
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #e4e4e4;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }
}

.banner {
    width: 500px;
    height: auto;
    display: inherit;
    left: 0;
}

// .banner-div {
    
// }